<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}FastAPI - Slowly{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="content">
    <h1>FastAPI - Slowly</h1>
    {{ content|indent(4) }}
    </div>
</body>
</html>